.tags {
  color: #ffd700;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 120px;
  font-size: 18px;
  font-family: "La Belle Aurore", cursive;
}

.bottom-tag-html {
  margin-left: -20px;
}
